registry=https://registry.npmjs.org/
@super-duper-packages-horse:registry=https://www.myget.org/F/super-duper-packages-horse/npm/
@types:registry=https://www.myget.org/F/super-duper-packages-horse/npm/

